body {
	background:#FAF3EC;
	font-family:  "Raleway", sans-serif;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #748194;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #748194;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #748194;
}
:-moz-placeholder { /* Firefox 18- */
  color: #748194;
}
.container{
   display:none;
   position:absolute;
	width: auto;
	height:auto;
	top: calc(50% - 240px);
	left: calc(40% - 160px);
   border-radius:15px 15px 15px 15px;
}
.c1{
   box-shadow:6px 12px 10px grey;
   background-color:white;
   width:300px;
   height:500px;
   display:inline-block;
   border-radius:15px 15px 15px 15px;
}

.c11{
   background-image:url('https://i.ibb.co/CWFF4gW/background.jpg');
   background-size:300px 400px;
   background-repeat: no-repeat;
   background-color:white;
   width:300px;
   height:400px;
   display:inline-block;
   position:absolute;
   z-index:4;
   border-radius:15px 15px 200px 200px;
   
}
#left, #right {
   color:white;
   display: inline-block;
   width:146px;
   height: 500px;
   background-color:white;
   cursor:pointer;
}
#left{
   border-radius:15px 0px 0px 15px;
}
#right{
   border-radius:15px 15px 15px 0px;
}
.left_hover{
   color:#EE9BA3;
   box-shadow: 5px 0 18px -10px #333;
   z-index:1;
   position:absolute;
}
.right_hover{
   box-shadow: -5px 0 15px -10px #333;
   z-index:1;
   position:absolute;
}
.s1class{
   color:#748194;
   position:absolute;
   bottom:0;
   left:63%;
   margin-left: -50%;
}
.s1class span,  .s2class span{
   display:block;
}
.su{
   font-size:20px;
}
.s2class{
   color:#748194;
   position:absolute;
   bottom:0;
   right:63%;
   margin-right: -50%;
}
.mainhead{
   color:white;
   font-size:24px;
   text-align:center;
   margin-top:50px;
}
.mainp{
   color:black;
   font-size:13px;
   text-align:center;
   margin-top:10px;
}
.c2{
   background-color:white;
   width:300px;
   height:500px;
   border-radius:15px;
   position:absolute;
   left:370px;
   display:inline-block;
}
.username{
   font-weight: bold;
   width: 230px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}
.btn{
   font-weight: bold;
   width: 230px;
   margin: 0 35px 20px ;
   height: 45px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #FFB7B2;
   color: white;
   font-size: 14px;
}
.signup1{
   color:#748194;
   font-size:30px;
   text-align:center;
}
a{
   text-decoration: none;
}
.signup2{
   color:#748194;
   font-size:15px;
   text-align:center;
}
.signup{
   display:initial;
}
.signin{
   display:initial;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 17px;
  height: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
